
.sass-cache/
node_modules/
/vendor/*
.env
.idea
.DS_Store
dt-people-groups/json/*
dt-assets/dist
composer.phar
CodeSniffer.conf
phpcbf.phar
phpcs.phar
package-lock.json

*/development-only/*

/composer.lock
/.phpunit.result.cache
